---
layout: default
title: "Posts"
---
<section class="description">
    <div class="row">
        {% include aside.html %}
        <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
            <h3>{{ page.title }}</h3> {% for post in site.posts %}
            <h4><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a><h4>
                  <p>{{ post.content | truncatewords: 30 }}</p>
                {% endfor %}
            </div>
    </div>
</section>
