<aside class="hidden-xs hidden-sm col-md-1 col-lg-1" data-spy="affix" data-offset-top="35rem">
    <ul class="social social-aside">
        <li><a href="https://twitter.com/AdrianJayLopez" target=_Blank><i class="fa fa-twitter-square fa-4x" aria-hidden="true"></i></a></li>
        <li><a href="https://github.com/jayzamazing" target=_Blank><i class="fa fa-github-square fa-4x" aria-hidden="true"></i></a></li>
        <li><a href="https://www.linkedin.com/pub/adrian-lopez/99/341/688" target=_Blank><i class="fa fa-linkedin-square fa-4x" aria-hidden="true"></i></a></li>
        <li><a href="https://plus.google.com/108258618753081021419" target=_Blank><i class="fa fa-google-plus-square fa-4x" aria-hidden="true"></i></a></li>
    </ul>
</aside>
