<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Jays Web Developer Portfolio</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Alike+Angular|Marcellus+SC" rel="stylesheet">
    <link rel="shortcut icon" href="briefcase.ico" media="screen" title="no title">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css" type="text/css">
</head>
